<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- <meta charset="UTF-8"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>DemoPdf</title>
    <style>
        table {
            margin-left: 20px;
            width: 55%;
        }

        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
        }

        th {
            text-align: left;
        }

        .table-1 tr td:first-child {
            width: 26%;
        }

        td {
            text-align: center;
        }

        td:first-child {
            text-align: left;
        }
    </style>
</head>

<body>
    <div>
        <div class="m-5">
            <div class="row mx-auto">
                <div class="col-3">
                    <div class="form-group table-inputfiled w-100">
                        <label>
                            Name
                        </label>
                        <p class="form-control">
                            <%= info.name %>
                        </p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group table-inputfiled w-100">
                        <label>Date</label>
                        <p class="form-control">
                            <%= info.today %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <table>

            <tr>
                <th>
                    Activity
                </th>

                <td>Sun</td>
                <td>Mon</td>
                <td>Tues</td>
                <td>Wed</td>
                <td>Thur</td>
                <td>Fri</td>
                <td>Sat</td>
            </tr>

            <% for (var i in info.days) { %>
                <tr>
                    <th>
                        <%= i %>
                    </th>
                    <% for (var item of info.days[i]) { %>
                        <td>
                            <%= item.ans %>
                        </td>
                        <% } %>
                </tr>
                <% } %>
                    <!-- <tr>

                                <td>Kill myself</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>

                                <td>Hurt myself</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Hurt Others </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Use Alcohol or drugs</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
        </table>
        <div style="font-size: 12px;" class="mt-4">
            <span class="ml-4"><b>0.No Urge</b></span>
            <span class="ml-4"><b>1.A little</b></span>
            <span class="ml-4"><b>2.Moderate Amount</b></span>
            <span class="ml-4"><b>3.Strong</b></span>
            <span class="ml-4"><b>4.Very Strong</b></span>
        </div>
        <div style="font-size: 12px;" class="m-4 ml-5">
            <span>
                <i>
                    Place an * next to those lines when you acted on your age
                </i>
            </span>
        </div>

        <div class="mt-5">
            <div class="table-1">
                <table>
                    <tr>
                        <th>Urges to:</th>
                        <td>Mon</td>
                        <td>Tues</td>
                        <td>Wed</td>
                        <td>Thur</td>
                        <td>Fri</td>
                        <td>Sat</td>
                        <td>Sun</td>
                    </tr>
                    <tr>
                        <td>Good,Happy</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr>
                        <td>Anxious,Tense</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Miserable</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Angry</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Depressed</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Hopeful</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Empty,Alone</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Embrassed</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Physically bad</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div style="font-size: 12px;" class="my-5">
                <span class="ml-4"><b>0.No Feeling</b></span>
                <span class="ml-4"><b>1.A little</b></span>
                <span class="ml-4"><b>2.Moderate Amount</b></span>
                <span class="ml-4"><b>3.Strong</b></span>
                <span class="ml-4"><b>4.Very Strong</b></span>
            </div>
        </div>

        <div class="my-5 pt-5">
            <table>
                <tr>
                    <th>MINDFULNESS</th>
                    <td>Mon</td>
                    <td>Tues</td>
                    <td>Wed</td>
                    <td>Thur</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                </tr>
                <tr>
                    <td>MINDFULNESS</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Observe</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Participate</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Nonjudgemental</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>One thing ata a time</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Be effective</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <th>INTERPERSONAL</th>
                    <td>Mon</td>
                    <td>Tues</td>
                    <td>Wed</td>
                    <td>Thur</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                </tr>
                <tr>
                    <td>Dearman</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Give</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Fast</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>EMOTION REGULATION</th>
                    <td>Mon</td>
                    <td>Tues</td>
                    <td>Wed</td>
                    <td>Thur</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                </tr>
                <tr>
                    <td>Please</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Build Mastery</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Build positive experience</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Oposite-to-emotion-action</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>DISTRESS TOLERENCE</th>
                    <td>Mon</td>
                    <td>Tues</td>
                    <td>Wed</td>
                    <td>Thur</td>
                    <td>Fri</td>
                    <td>Sat</td>
                    <td>Sun</td>
                </tr>
                <tr>
                    <td>Wise mind distract</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Self Soothie</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Improve the moment</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Pros and cons</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Radical acceptence</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

            <div style="font-size: 12px;" class="mt-5">
                <span class="ml-4"><b>0.Didn't think about</b></span>
                <span class="ml-4"><b>1.Thought about it</b></span>
                <span class="ml-4"><b>2.Actually Worked on</b></span>
            </div>
        </div>
        <div class="my-5">
            <div class="pt-5">
                <table>
                    <tr>
                        <th>Goals</th>
                        <td>Mon</td>
                        <td>Tues</td>
                        <td>Wed</td>
                        <td>Thur</td>
                        <td>Fri</td>
                        <td>Sat</td>
                        <td>Sun</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div style="font-size: 12px;" class="mt-5">
                <span class="ml-4"><b>0.No Urge</b></span>
                <span class="ml-4"><b>1.A little</b></span>
                <span class="ml-4"><b>2.Moderate Amount</b></span>
                <span class="ml-4"><b>3.Strong</b></span>
                <span class="ml-4"><b>4.Very Strong</b></span>
            </div>
        </div> -->

    </div>
</body>

</html>